[user]
	name = kis9a
	email = kis9ax@gmail.com
[github]
	user = kis9a
[core]
    pager = delta
[merge]
  tool = vimdiff
[mergetool]
  prompt = true
[mergetool "vimdiff"]
  cmd = nvim -d $LOCAL $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'
[difftool]
  prompt = false
[diff]
  tool = vimdiff
[interactive]
    diffFilter = delta --color-only
[delta]
    side-by-side = true
    features = side-by-side line-numbers decorations
    plus-style = syntax "#003800"
    minus-style = syntax "#3f0001"
    whitespace-error-style = 22 reverse
    syntax-theme = Monokai Extended
    colorMoved = default
[delta "line-numbers"]
    line-numbers = true
    line-numbers-minus-style = white
    line-numbers-zero-style = white
    line-numbers-plus-style = white
    line-numbers-left-format = "{nm:>4}┊"
    line-numbers-right-format = "{np:>4}│"
    line-numbers-left-style = red
    line-numbers-right-style = red
[delta "decorations"]
    commit-decoration-style = bold black box ul
    file-style = bold yellow ul
    file-decoration-style = none
    hunk-header-decoration-style = red box
